extends ../layout

block content
  div
    nav.navbar.navbar-fixed-top
      .container
      .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/home') (boot)(up)
        #myNavbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/admin') HOME
        li
          a(href='/admin/accepted') ACCEPTED  
        li
          a(href='/admin/waitlisted') WAITLISTED
        li
          a(href='/admin/alternative') ALTERNATIVE
        li
          a(href='/logout') LOGOUT
        br
  div#belownav
  div
  br
  h1 accepted applicants
  br
  div#applicantreview
  br
  br
  br 
  div
    each stat in profile
      - var appStat = stat.application.status
      if appStat == "accepted"
        dl
          button.list-group-item
              dt #{stat.name.firstName} #{stat.name.lastName}
              br
              a.btn.btn-xs.btn-default#adminreviewbutton(href='/admin/review/#{stat.id}') REVIEW
            br
        
    
