extends ../layout

block content

  div
  br
  h1.mini admin demo access
  br
  div#applicantreview
  br
  br
  br
  form(action"", method="post")
      value(type="text", name="id", value=user.id)
      br
      input.btn.btn.lg.btn.default#begin(type="submit", value="admin access")
