extends ../layout

block content
    h1 add_profile_information.jade
    h3 username #{user.nickname}
    br
    form(action"", method="post")
        p first name: 
        input(type="text", name="name[firstName]")
        br
        input(type="submit")
