extends ../layout

block content
    h1 profile index.jade
    h3 username #{user.nickname}
    br    
    form(action"", method="post")
        value(type="text", name="id", value=user.id)
        br
        input(type="submit", value="create profile")
