doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='robots', content='noindex')
        title codergv boot
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
        link(href='https://fonts.googleapis.com/css?family=Jura', rel='stylesheet')
        script(src='//codepen.io/assets/libs/prefixfree.min.js')
        script(src='https://cdn.auth0.com/js/lock/10.0/lock.min.js')
        style.cp-pen-styles.
            html,
            body {
              height: 100%;
              width: 100%;
              background: #000;
            }
            div {
              margin-top: 3%;
            }
            .containerTwo {
              text-align: center;
              margin-top: 4.5%;
            }
            .container {
              font-size: 222px;
              position: fixed;
              left: 50%;
              top: 50%;
              width: 6.25em;
              height: 6.25em;
              transform: translate(-50%, -50%);
              background: #000;
              overflow: hidden;
              box-shadow: 1px 1px 6px -1px rgba(0, 0, 0, 0.4);
            }
            #begin{
              background-color:  blue;
              border-radius: 50px;
              width: 66px;
              height: 66px;
              text-align: center;
            }
            .square {
              position: absolute;
              width: .5em;
              height: .5em;
              margin: -.25em 0 0 -.25em;
            }
            .square .corner {
              position: absolute;
              left: 50%;
              top: 50%;
            }
            .square .corner:before, .square .corner:after {
              content: '';
              position: absolute;
              width: calc(0.28em + 1px);
              height: 0.06em;
              background: currentColor;
              transform-origin: left top;
              border-radius: 3px 0 0 3px;
            }
            @keyframes corner0Before {
            from {
              transform: rotate(0deg) rotate(0deg) translateY(-0.60402em) translateY(100%) translateY(-0.06em) rotate(-45deg) translateY(-100%);
            }
            20%, 30% {
              transform: rotate(0deg) rotate(0deg) translateY(-0.39598em) translateY(0) translateY(0) rotate(45deg) translateY(0);
            }
            45%, 55% {
              transform: rotate(90deg) rotate(0deg) translateY(-0.39598em) translateY(0) translateY(0) rotate(45deg) translateY(0);
            }
            75%, to {
              transform: rotate(90deg) rotate(0deg) translateY(-0.60402em) translateY(100%) translateY(-0.06em) rotate(-45deg) translateY(-100%);
            }
            }
            @keyframes corner0After {
            from {
              transform: rotate(0deg) rotate(0deg) translateY(-0.60402em) translateY(0) translateY(0) rotate(225deg) translateY(0);
            }
            20%, 30% {
              transform: rotate(0deg) rotate(0deg) translateY(-0.39598em) translateY(100%) translateY(-0.06em) rotate(135deg) translateY(-100%);
            }
            45%, 55% {
              transform: rotate(90deg) rotate(0deg) translateY(-0.39598em) translateY(100%) translateY(-0.06em) rotate(135deg) translateY(-100%);
            }
            75%, to {
              transform: rotate(90deg) rotate(0deg) translateY(-0.60402em) translateY(0) translateY(0) rotate(225deg) translateY(0);
            }
            }
            .square .corner:nth-child(1):before {
              animation: corner0Before 3.3s cubic-bezier(0.5, 0.1, 0.5, 0.9) infinite both;
            }
            .square .corner:nth-child(1):after {
              animation: corner0After 3.3s cubic-bezier(0.5, 0.1, 0.5, 0.9) infinite both;
            }
            @keyframes corner1Before {
            from {
              transform: rotate(0deg) rotate(90deg) translateY(-0.60402em) translateY(100%) translateY(-0.06em) rotate(-45deg) translateY(-100%);
            }
            20%, 30% {
              transform: rotate(0deg) rotate(90deg) translateY(-0.39598em) translateY(0) translateY(0) rotate(45deg) translateY(0);
            }
            45%, 55% {
              transform: rotate(90deg) rotate(90deg) translateY(-0.39598em) translateY(0) translateY(0) rotate(45deg) translateY(0);
            }
            75%, to {
              transform: rotate(90deg) rotate(90deg) translateY(-0.60402em) translateY(100%) translateY(-0.06em) rotate(-45deg) translateY(-100%);
            }
            }
            @keyframes corner1After {
            from {
              transform: rotate(0deg) rotate(90deg) translateY(-0.60402em) translateY(0) translateY(0) rotate(225deg) translateY(0);
            }
            20%, 30% {
              transform: rotate(0deg) rotate(90deg) translateY(-0.39598em) translateY(100%) translateY(-0.06em) rotate(135deg) translateY(-100%);
            }
            45%, 55% {
              transform: rotate(90deg) rotate(90deg) translateY(-0.39598em) translateY(100%) translateY(-0.06em) rotate(135deg) translateY(-100%);
            }
            75%, to {
              transform: rotate(90deg) rotate(90deg) translateY(-0.60402em) translateY(0) translateY(0) rotate(225deg) translateY(0);
            }
            }
            .square .corner:nth-child(2):before {
              animation: corner1Before 3.3s cubic-bezier(0.5, 0.1, 0.5, 0.9) infinite both;
            }
            .square .corner:nth-child(2):after {
              animation: corner1After 3.3s cubic-bezier(0.5, 0.1, 0.5, 0.9) infinite both;
            }
            @keyframes corner2Before {
            from {
              transform: rotate(0deg) rotate(180deg) translateY(-0.60402em) translateY(100%) translateY(-0.06em) rotate(-45deg) translateY(-100%);
            }
            20%, 30% {
              transform: rotate(0deg) rotate(180deg) translateY(-0.39598em) translateY(0) translateY(0) rotate(45deg) translateY(0);
            }
            45%, 55% {
              transform: rotate(90deg) rotate(180deg) translateY(-0.39598em) translateY(0) translateY(0) rotate(45deg) translateY(0);
            }
            75%, to {
              transform: rotate(90deg) rotate(180deg) translateY(-0.60402em) translateY(100%) translateY(-0.06em) rotate(-45deg) translateY(-100%);
            }
            }
            @keyframes corner2After {
            from {
              transform: rotate(0deg) rotate(180deg) translateY(-0.60402em) translateY(0) translateY(0) rotate(225deg) translateY(0);
            }
            20%, 30% {
              transform: rotate(0deg) rotate(180deg) translateY(-0.39598em) translateY(100%) translateY(-0.06em) rotate(135deg) translateY(-100%);
            }
            45%, 55% {
              transform: rotate(90deg) rotate(180deg) translateY(-0.39598em) translateY(100%) translateY(-0.06em) rotate(135deg) translateY(-100%);
            }
            75%, to {
              transform: rotate(90deg) rotate(180deg) translateY(-0.60402em) translateY(0) translateY(0) rotate(225deg) translateY(0);
            }
            }
            .square .corner:nth-child(3):before {
              animation: corner2Before 3.3s cubic-bezier(0.5, 0.1, 0.5, 0.9) infinite both;
            }
            .square .corner:nth-child(3):after {
              animation: corner2After 3.3s cubic-bezier(0.5, 0.1, 0.5, 0.9) infinite both;
            }
            @keyframes corner3Before {
            from {
              transform: rotate(0deg) rotate(270deg) translateY(-0.60402em) translateY(100%) translateY(-0.06em) rotate(-45deg) translateY(-100%);
            }
            20%, 30% {
              transform: rotate(0deg) rotate(270deg) translateY(-0.39598em) translateY(0) translateY(0) rotate(45deg) translateY(0);
            }
            45%, 55% {
              transform: rotate(90deg) rotate(270deg) translateY(-0.39598em) translateY(0) translateY(0) rotate(45deg) translateY(0);
            }
            75%, to {
              transform: rotate(90deg) rotate(270deg) translateY(-0.60402em) translateY(100%) translateY(-0.06em) rotate(-45deg) translateY(-100%);
            }
            }
            @keyframes corner3After {
            from {
              transform: rotate(0deg) rotate(270deg) translateY(-0.60402em) translateY(0) translateY(0) rotate(225deg) translateY(0);
            }
            20%, 30% {
              transform: rotate(0deg) rotate(270deg) translateY(-0.39598em) translateY(100%) translateY(-0.06em) rotate(135deg) translateY(-100%);
            }
            45%, 55% {
              transform: rotate(90deg) rotate(270deg) translateY(-0.39598em) translateY(100%) translateY(-0.06em) rotate(135deg) translateY(-100%);
            }
            75%, to {
              transform: rotate(90deg) rotate(270deg) translateY(-0.60402em) translateY(0) translateY(0) rotate(225deg) translateY(0);
            }
            }
            .square .corner:nth-child(4):before {
              animation: corner3Before 3.3s cubic-bezier(0.5, 0.1, 0.5, 0.9) infinite both;
            }
            .square .corner:nth-child(4):after {
              animation: corner3After 3.3s cubic-bezier(0.5, 0.1, 0.5, 0.9) infinite both;
            }
            .layer {
              mix-blend-mode: screen;
            }
            .layer:nth-child(1) {
              color: #f00;
            }
            .layer:nth-child(1) .square:nth-child(1) {
              left: 0.125em;
              top: 0.125em;
            }
            .layer:nth-child(1) .square:nth-child(1) .corner:before, .layer:nth-child(1) .square:nth-child(1) .corner:after {
              animation-delay: 0.6364s;
            }
            .layer:nth-child(1) .square:nth-child(2) {
              left: 2.125em;
              top: 0.125em;
            }
            .layer:nth-child(1) .square:nth-child(2) .corner:before, .layer:nth-child(1) .square:nth-child(2) .corner:after {
              animation-delay: 0.47434s;
            }
            .layer:nth-child(1) .square:nth-child(3) {
              left: 4.125em;
              top: 0.125em;
            }
            .layer:nth-child(1) .square:nth-child(3) .corner:before, .layer:nth-child(1) .square:nth-child(3) .corner:after {
              animation-delay: 0.47434s;
            }
            .layer:nth-child(1) .square:nth-child(4) {
              left: 6.125em;
              top: 0.125em;
            }
            .layer:nth-child(1) .square:nth-child(4) .corner:before, .layer:nth-child(1) .square:nth-child(4) .corner:after {
              animation-delay: 0.6364s;
            }
            .layer:nth-child(1) .square:nth-child(5) {
              left: 1.125em;
              top: 1.125em;
            }
            .layer:nth-child(1) .square:nth-child(5) .corner:before, .layer:nth-child(1) .square:nth-child(5) .corner:after {
              animation-delay: 0.42426s;
            }
            .layer:nth-child(1) .square:nth-child(6) {
              left: 3.125em;
              top: 1.125em;
            }
            .layer:nth-child(1) .square:nth-child(6) .corner:before, .layer:nth-child(1) .square:nth-child(6) .corner:after {
              animation-delay: 0.3s;
            }
            .layer:nth-child(1) .square:nth-child(7) {
              left: 5.125em;
              top: 1.125em;
            }
            .layer:nth-child(1) .square:nth-child(7) .corner:before, .layer:nth-child(1) .square:nth-child(7) .corner:after {
              animation-delay: 0.42426s;
            }
            .layer:nth-child(1) .square:nth-child(8) {
              display: none;
              left: 7.125em;
              top: 1.125em;
            }
            .layer:nth-child(1) .square:nth-child(8) .corner:before, .layer:nth-child(1) .square:nth-child(8) .corner:after {
              animation-delay: 0.67082s;
            }
            .layer:nth-child(1) .square:nth-child(9) {
              left: 0.125em;
              top: 2.125em;
            }
            .layer:nth-child(1) .square:nth-child(9) .corner:before, .layer:nth-child(1) .square:nth-child(9) .corner:after {
              animation-delay: 0.47434s;
            }
            .layer:nth-child(1) .square:nth-child(10) {
              left: 2.125em;
              top: 2.125em;
            }
            .layer:nth-child(1) .square:nth-child(10) .corner:before, .layer:nth-child(1) .square:nth-child(10) .corner:after {
              animation-delay: 0.21213s;
            }
            .layer:nth-child(1) .square:nth-child(11) {
              left: 4.125em;
              top: 2.125em;
            }
            .layer:nth-child(1) .square:nth-child(11) .corner:before, .layer:nth-child(1) .square:nth-child(11) .corner:after {
              animation-delay: 0.21213s;
            }
            .layer:nth-child(1) .square:nth-child(12) {
              left: 6.125em;
              top: 2.125em;
            }
            .layer:nth-child(1) .square:nth-child(12) .corner:before, .layer:nth-child(1) .square:nth-child(12) .corner:after {
              animation-delay: 0.47434s;
            }
            .layer:nth-child(1) .square:nth-child(13) {
              left: 1.125em;
              top: 3.125em;
            }
            .layer:nth-child(1) .square:nth-child(13) .corner:before, .layer:nth-child(1) .square:nth-child(13) .corner:after {
              animation-delay: 0.3s;
            }
            .layer:nth-child(1) .square:nth-child(14) {
              left: 3.125em;
              top: 3.125em;
            }
            .layer:nth-child(1) .square:nth-child(14) .corner:before, .layer:nth-child(1) .square:nth-child(14) .corner:after {
              animation-delay: 0s;
            }
            .layer:nth-child(1) .square:nth-child(15) {
              left: 5.125em;
              top: 3.125em;
            }
            .layer:nth-child(1) .square:nth-child(15) .corner:before, .layer:nth-child(1) .square:nth-child(15) .corner:after {
              animation-delay: 0.3s;
            }
            .layer:nth-child(1) .square:nth-child(16) {
              display: none;
              left: 7.125em;
              top: 3.125em;
            }
            .layer:nth-child(1) .square:nth-child(16) .corner:before, .layer:nth-child(1) .square:nth-child(16) .corner:after {
              animation-delay: 0.6s;
            }
            .layer:nth-child(1) .square:nth-child(17) {
              left: 0.125em;
              top: 4.125em;
            }
            .layer:nth-child(1) .square:nth-child(17) .corner:before, .layer:nth-child(1) .square:nth-child(17) .corner:after {
              animation-delay: 0.47434s;
            }
            .layer:nth-child(1) .square:nth-child(18) {
              left: 2.125em;
              top: 4.125em;
            }
            .layer:nth-child(1) .square:nth-child(18) .corner:before, .layer:nth-child(1) .square:nth-child(18) .corner:after {
              animation-delay: 0.21213s;
            }
            .layer:nth-child(1) .square:nth-child(19) {
              left: 4.125em;
              top: 4.125em;
            }
            .layer:nth-child(1) .square:nth-child(19) .corner:before, .layer:nth-child(1) .square:nth-child(19) .corner:after {
              animation-delay: 0.21213s;
            }
            .layer:nth-child(1) .square:nth-child(20) {
              left: 6.125em;
              top: 4.125em;
            }
            .layer:nth-child(1) .square:nth-child(20) .corner:before, .layer:nth-child(1) .square:nth-child(20) .corner:after {
              animation-delay: 0.47434s;
            }
            .layer:nth-child(1) .square:nth-child(21) {
              left: 1.125em;
              top: 5.125em;
            }
            .layer:nth-child(1) .square:nth-child(21) .corner:before, .layer:nth-child(1) .square:nth-child(21) .corner:after {
              animation-delay: 0.42426s;
            }
            .layer:nth-child(1) .square:nth-child(22) {
              left: 3.125em;
              top: 5.125em;
            }
            .layer:nth-child(1) .square:nth-child(22) .corner:before, .layer:nth-child(1) .square:nth-child(22) .corner:after {
              animation-delay: 0.3s;
            }
            .layer:nth-child(1) .square:nth-child(23) {
              left: 5.125em;
              top: 5.125em;
            }
            .layer:nth-child(1) .square:nth-child(23) .corner:before, .layer:nth-child(1) .square:nth-child(23) .corner:after {
              animation-delay: 0.42426s;
            }
            .layer:nth-child(1) .square:nth-child(24) {
              display: none;
              left: 7.125em;
              top: 5.125em;
            }
            .layer:nth-child(1) .square:nth-child(24) .corner:before, .layer:nth-child(1) .square:nth-child(24) .corner:after {
              animation-delay: 0.67082s;
            }
            .layer:nth-child(1) .square:nth-child(25) {
              left: 0.125em;
              top: 6.125em;
            }
            .layer:nth-child(1) .square:nth-child(25) .corner:before, .layer:nth-child(1) .square:nth-child(25) .corner:after {
              animation-delay: 0.6364s;
            }
            .layer:nth-child(1) .square:nth-child(26) {
              left: 2.125em;
              top: 6.125em;
            }
            .layer:nth-child(1) .square:nth-child(26) .corner:before, .layer:nth-child(1) .square:nth-child(26) .corner:after {
              animation-delay: 0.47434s;
            }
            .layer:nth-child(1) .square:nth-child(27) {
              left: 4.125em;
              top: 6.125em;
            }
            .layer:nth-child(1) .square:nth-child(27) .corner:before, .layer:nth-child(1) .square:nth-child(27) .corner:after {
              animation-delay: 0.47434s;
            }
            .layer:nth-child(1) .square:nth-child(28) {
              left: 6.125em;
              top: 6.125em;
            }
            .layer:nth-child(1) .square:nth-child(28) .corner:before, .layer:nth-child(1) .square:nth-child(28) .corner:after {
              animation-delay: 0.6364s;
            }
            .layer:nth-child(2) {
              color: #0f0;
            }
            .layer:nth-child(2) .square:nth-child(1) {
              left: 0.125em;
              top: 0.125em;
            }
            .layer:nth-child(2) .square:nth-child(1) .corner:before, .layer:nth-child(2) .square:nth-child(1) .corner:after {
              animation-delay: 0.6714s;
            }
            .layer:nth-child(2) .square:nth-child(2) {
              left: 2.125em;
              top: 0.125em;
            }
            .layer:nth-child(2) .square:nth-child(2) .corner:before, .layer:nth-child(2) .square:nth-child(2) .corner:after {
              animation-delay: 0.50934s;
            }
            .layer:nth-child(2) .square:nth-child(3) {
              left: 4.125em;
              top: 0.125em;
            }
            .layer:nth-child(2) .square:nth-child(3) .corner:before, .layer:nth-child(2) .square:nth-child(3) .corner:after {
              animation-delay: 0.50934s;
            }
            .layer:nth-child(2) .square:nth-child(4) {
              left: 6.125em;
              top: 0.125em;
            }
            .layer:nth-child(2) .square:nth-child(4) .corner:before, .layer:nth-child(2) .square:nth-child(4) .corner:after {
              animation-delay: 0.6714s;
            }
            .layer:nth-child(2) .square:nth-child(5) {
              left: 1.125em;
              top: 1.125em;
            }
            .layer:nth-child(2) .square:nth-child(5) .corner:before, .layer:nth-child(2) .square:nth-child(5) .corner:after {
              animation-delay: 0.45926s;
            }
            .layer:nth-child(2) .square:nth-child(6) {
              left: 3.125em;
              top: 1.125em;
            }
            .layer:nth-child(2) .square:nth-child(6) .corner:before, .layer:nth-child(2) .square:nth-child(6) .corner:after {
              animation-delay: 0.335s;
            }
            .layer:nth-child(2) .square:nth-child(7) {
              left: 5.125em;
              top: 1.125em;
            }
            .layer:nth-child(2) .square:nth-child(7) .corner:before, .layer:nth-child(2) .square:nth-child(7) .corner:after {
              animation-delay: 0.45926s;
            }
            .layer:nth-child(2) .square:nth-child(8) {
            display: none;
              left: 7.125em;
              top: 1.125em;
            }
            .layer:nth-child(2) .square:nth-child(8) .corner:before, .layer:nth-child(2) .square:nth-child(8) .corner:after {
              animation-delay: 0.70582s;
            }
            .layer:nth-child(2) .square:nth-child(9) {
              left: 0.125em;
              top: 2.125em;
            }
            .layer:nth-child(2) .square:nth-child(9) .corner:before, .layer:nth-child(2) .square:nth-child(9) .corner:after {
              animation-delay: 0.50934s;
            }
            .layer:nth-child(2) .square:nth-child(10) {
              left: 2.125em;
              top: 2.125em;
            }
            .layer:nth-child(2) .square:nth-child(10) .corner:before, .layer:nth-child(2) .square:nth-child(10) .corner:after {
            animation-delay: 0.24713s;
            }
            .layer:nth-child(2) .square:nth-child(11) {
              left: 4.125em;
              top: 2.125em;
            }
            .layer:nth-child(2) .square:nth-child(11) .corner:before, .layer:nth-child(2) .square:nth-child(11) .corner:after {
              animation-delay: 0.24713s;
            }
            .layer:nth-child(2) .square:nth-child(12) {
              left: 6.125em;
              top: 2.125em;
            }
            .layer:nth-child(2) .square:nth-child(12) .corner:before, .layer:nth-child(2) .square:nth-child(12) .corner:after {
              animation-delay: 0.50934s;
            }
            .layer:nth-child(2) .square:nth-child(13) {
              left: 1.125em;
              top: 3.125em;
            }
            .layer:nth-child(2) .square:nth-child(13) .corner:before, .layer:nth-child(2) .square:nth-child(13) .corner:after {
              animation-delay: 0.335s;
            }
            .layer:nth-child(2) .square:nth-child(14) {
              left: 3.125em;
              top: 3.125em;
            }
            .layer:nth-child(2) .square:nth-child(14) .corner:before, .layer:nth-child(2) .square:nth-child(14) .corner:after {
              animation-delay: 0.035s;
            }
            .layer:nth-child(2) .square:nth-child(15) {
              left: 5.125em;
              top: 3.125em;
            }
            .layer:nth-child(2) .square:nth-child(15) .corner:before, .layer:nth-child(2) .square:nth-child(15) .corner:after {
              animation-delay: 0.335s;
            }
            .layer:nth-child(2) .square:nth-child(16) {
              display: none;
              left: 7.125em;
              top: 3.125em;
            }
            .layer:nth-child(2) .square:nth-child(16) .corner:before, .layer:nth-child(2) .square:nth-child(16) .corner:after {
              animation-delay: 0.635s;
            }
            .layer:nth-child(2) .square:nth-child(17) {
              left: 0.125em;
              top: 4.125em;
            }
            .layer:nth-child(2) .square:nth-child(17) .corner:before, .layer:nth-child(2) .square:nth-child(17) .corner:after {
              animation-delay: 0.50934s;
            }
            .layer:nth-child(2) .square:nth-child(18) {
              left: 2.125em;
              top: 4.125em;
            }
            .layer:nth-child(2) .square:nth-child(18) .corner:before, .layer:nth-child(2) .square:nth-child(18) .corner:after {
            animation-delay: 0.24713s;
            }
            .layer:nth-child(2) .square:nth-child(19) {
              left: 4.125em;
              top: 4.125em;
            }
            .layer:nth-child(2) .square:nth-child(19) .corner:before, .layer:nth-child(2) .square:nth-child(19) .corner:after {
              animation-delay: 0.24713s;
            }
            .layer:nth-child(2) .square:nth-child(20) {
              left: 6.125em;
              top: 4.125em;
            }
            .layer:nth-child(2) .square:nth-child(20) .corner:before, .layer:nth-child(2) .square:nth-child(20) .corner:after {
            animation-delay: 0.50934s;
            }
            .layer:nth-child(2) .square:nth-child(21) {
              left: 1.125em;
              top: 5.125em;
            }
            .layer:nth-child(2) .square:nth-child(21) .corner:before, .layer:nth-child(2) .square:nth-child(21) .corner:after {
              animation-delay: 0.45926s;
            }
            .layer:nth-child(2) .square:nth-child(22) {
              left: 3.125em;
              top: 5.125em;
            }
            .layer:nth-child(2) .square:nth-child(22) .corner:before, .layer:nth-child(2) .square:nth-child(22) .corner:after {
            animation-delay: 0.335s;
            }
            .layer:nth-child(2) .square:nth-child(23) {
              left: 5.125em;
              top: 5.125em;
            }
            .layer:nth-child(2) .square:nth-child(23) .corner:before, .layer:nth-child(2) .square:nth-child(23) .corner:after {
              animation-delay: 0.45926s;
            }
            .layer:nth-child(2) .square:nth-child(24) {
              display: none;
              left: 7.125em;
              top: 5.125em;
            }
            .layer:nth-child(2) .square:nth-child(24) .corner:before, .layer:nth-child(2) .square:nth-child(24) .corner:after {
              animation-delay: 0.70582s;
            }
            .layer:nth-child(2) .square:nth-child(25) {
              left: 0.125em;
              top: 6.125em;
            }
            .layer:nth-child(2) .square:nth-child(25) .corner:before, .layer:nth-child(2) .square:nth-child(25) .corner:after {
              animation-delay: 0.6714s;
            }
            .layer:nth-child(2) .square:nth-child(26) {
              left: 2.125em;
              top: 6.125em;
            }
            .layer:nth-child(2) .square:nth-child(26) .corner:before, .layer:nth-child(2) .square:nth-child(26) .corner:after {
              animation-delay: 0.50934s;
            }
            .layer:nth-child(2) .square:nth-child(27) {
              left: 4.125em;
              top: 6.125em;
            }
            .layer:nth-child(2) .square:nth-child(27) .corner:before, .layer:nth-child(2) .square:nth-child(27) .corner:after {
              animation-delay: 0.50934s;
            }
            .layer:nth-child(2) .square:nth-child(28) {
              left: 6.125em;
              top: 6.125em;
            }
            .layer:nth-child(2) .square:nth-child(28) .corner:before, .layer:nth-child(2) .square:nth-child(28) .corner:after {
              animation-delay: 0.6714s;
            }
            .layer:nth-child(3) {
              color: #00f;
            }
            .layer:nth-child(3) .square:nth-child(1) {
              left: 0.125em;
              top: 0.125em;
            }
            .layer:nth-child(3) .square:nth-child(1) .corner:before, .layer:nth-child(3) .square:nth-child(1) .corner:after {
              animation-delay: 0.7064s;
            }
            .layer:nth-child(3) .square:nth-child(2) {
              left: 2.125em;
              top: 0.125em;
            }
            .layer:nth-child(3) .square:nth-child(2) .corner:before, .layer:nth-child(3) .square:nth-child(2) .corner:after {
              animation-delay: 0.54434s;
            }
            .layer:nth-child(3) .square:nth-child(3) {
              left: 4.125em;
              top: 0.125em;
            }
            .layer:nth-child(3) .square:nth-child(3) .corner:before, .layer:nth-child(3) .square:nth-child(3) .corner:after {
              animation-delay: 0.54434s;
            }
            .layer:nth-child(3) .square:nth-child(4) {
              left: 6.125em;
              top: 0.125em;
            }
            .layer:nth-child(3) .square:nth-child(4) .corner:before, .layer:nth-child(3) .square:nth-child(4) .corner:after {
              animation-delay: 0.7064s;
            }
            .layer:nth-child(3) .square:nth-child(5) {
              left: 1.125em;
              top: 1.125em;
            }
            .layer:nth-child(3) .square:nth-child(5) .corner:before, .layer:nth-child(3) .square:nth-child(5) .corner:after {
              animation-delay: 0.49426s;
            }
            .layer:nth-child(3) .square:nth-child(6) {
              left: 3.125em;
              top: 1.125em;
            }
            .layer:nth-child(3) .square:nth-child(6) .corner:before, .layer:nth-child(3) .square:nth-child(6) .corner:after {
              animation-delay: 0.37s;
            }
            .layer:nth-child(3) .square:nth-child(7) {
              left: 5.125em;
              top: 1.125em;
            }
            .layer:nth-child(3) .square:nth-child(7) .corner:before, .layer:nth-child(3) .square:nth-child(7) .corner:after {
              animation-delay: 0.49426s;
            }
            .layer:nth-child(3) .square:nth-child(8) {
              display: none;
              left: 7.125em;
              top: 1.125em;
            }
            .layer:nth-child(3) .square:nth-child(8) .corner:before, .layer:nth-child(3) .square:nth-child(8) .corner:after {
              animation-delay: 0.74082s;
            }
            .layer:nth-child(3) .square:nth-child(9) {
              left: 0.125em;
              top: 2.125em;
            }
            .layer:nth-child(3) .square:nth-child(9) .corner:before, .layer:nth-child(3) .square:nth-child(9) .corner:after {
              animation-delay: 0.54434s;
            }
            .layer:nth-child(3) .square:nth-child(10) {
              left: 2.125em;
              top: 2.125em;
            }
            .layer:nth-child(3) .square:nth-child(10) .corner:before, .layer:nth-child(3) .square:nth-child(10) .corner:after {
              animation-delay: 0.28213s;
            }
            .layer:nth-child(3) .square:nth-child(11) {
              left: 4.125em;
              top: 2.125em;
            }
            .layer:nth-child(3) .square:nth-child(11) .corner:before, .layer:nth-child(3) .square:nth-child(11) .corner:after {
              animation-delay: 0.28213s;
            }
            .layer:nth-child(3) .square:nth-child(12) {
              left: 6.125em;
              top: 2.125em;
            }
            .layer:nth-child(3) .square:nth-child(12) .corner:before, .layer:nth-child(3) .square:nth-child(12) .corner:after {
              animation-delay: 0.54434s;
            }
            .layer:nth-child(3) .square:nth-child(13) {
              left: 1.125em;
              top: 3.125em;
            }
            .layer:nth-child(3) .square:nth-child(13) .corner:before, .layer:nth-child(3) .square:nth-child(13) .corner:after {
              animation-delay: 0.37s;
            }
            .layer:nth-child(3) .square:nth-child(14) {
              left: 3.125em;
              top: 3.125em;
            }
            .layer:nth-child(3) .square:nth-child(14) .corner:before, .layer:nth-child(3) .square:nth-child(14) .corner:after {
              animation-delay: 0.07s;
            }
            .layer:nth-child(3) .square:nth-child(15) {
              left: 5.125em;
              top: 3.125em;
            }
            .layer:nth-child(3) .square:nth-child(15) .corner:before, .layer:nth-child(3) .square:nth-child(15) .corner:after {
              animation-delay: 0.37s;
            }
            .layer:nth-child(3) .square:nth-child(16) {
              display: none;
              left: 7.125em;
              top: 3.125em;
            }
            .layer:nth-child(3) .square:nth-child(16) .corner:before, .layer:nth-child(3) .square:nth-child(16) .corner:after {
              animation-delay: 0.67s;
            }
            .layer:nth-child(3) .square:nth-child(17) {
              left: 0.125em;
              top: 4.125em;
            }
            .layer:nth-child(3) .square:nth-child(17) .corner:before, .layer:nth-child(3) .square:nth-child(17) .corner:after {
              animation-delay: 0.54434s;
            }
            .layer:nth-child(3) .square:nth-child(18) {
              left: 2.125em;
              top: 4.125em;
            }
            .layer:nth-child(3) .square:nth-child(18) .corner:before, .layer:nth-child(3) .square:nth-child(18) .corner:after {
              animation-delay: 0.28213s;
            }
            .layer:nth-child(3) .square:nth-child(19) {
              left: 4.125em;
              top: 4.125em;
            }
            .layer:nth-child(3) .square:nth-child(19) .corner:before, .layer:nth-child(3) .square:nth-child(19) .corner:after {
              animation-delay: 0.28213s;
            }
            .layer:nth-child(3) .square:nth-child(20) {
              left: 6.125em;
              top: 4.125em;
            }
              .layer:nth-child(3) .square:nth-child(20) .corner:before, .layer:nth-child(3) .square:nth-child(20) .corner:after {
            animation-delay: 0.54434s;
            }
            .layer:nth-child(3) .square:nth-child(21) {
              left: 1.125em;
              top: 5.125em;
            }
            .layer:nth-child(3) .square:nth-child(21) .corner:before, .layer:nth-child(3) .square:nth-child(21) .corner:after {
              animation-delay: 0.49426s;
            }
            .layer:nth-child(3) .square:nth-child(22) {
              left: 3.125em;
              top: 5.125em;
            }
            .layer:nth-child(3) .square:nth-child(22) .corner:before, .layer:nth-child(3) .square:nth-child(22) .corner:after {
              animation-delay: 0.37s;
            }
            .layer:nth-child(3) .square:nth-child(23) {
              left: 5.125em;
              top: 5.125em;
            }
            .layer:nth-child(3) .square:nth-child(23) .corner:before, .layer:nth-child(3) .square:nth-child(23) .corner:after {
              animation-delay: 0.49426s;
            }
            .layer:nth-child(3) .square:nth-child(24) {
              display: none;
              left: 7.125em;
              top: 5.125em;
            }
            .layer:nth-child(3) .square:nth-child(24) .corner:before, .layer:nth-child(3) .square:nth-child(24) .corner:after {
              animation-delay: 0.74082s;
            }
            .layer:nth-child(3) .square:nth-child(25) {
              left: 0.125em;
              top: 6.125em;
            }
            .layer:nth-child(3) .square:nth-child(25) .corner:before, .layer:nth-child(3) .square:nth-child(25) .corner:after {
              animation-delay: 0.7064s;
            }
            .layer:nth-child(3) .square:nth-child(26) {
              left: 2.125em;
              top: 6.125em;
            }
            .layer:nth-child(3) .square:nth-child(26) .corner:before, .layer:nth-child(3) .square:nth-child(26) .corner:after {
              animation-delay: 0.54434s;
            }
            .layer:nth-child(3) .square:nth-child(27) {
              left: 4.125em;
              top: 6.125em;
            }
            .layer:nth-child(3) .square:nth-child(27) .corner:before, .layer:nth-child(3) .square:nth-child(27) .corner:after {
              animation-delay: 0.54434s;
            }
            .layer:nth-child(3) .square:nth-child(28) {
              left: 6.125em;
              top: 6.125em;
            }
            .layer:nth-child(3) .square:nth-child(28) .corner:before, .layer:nth-child(3) .square:nth-child(28) .corner:after {
              animation-delay: 0.7064s;
            }
    body
    block content
        .container
            .layer
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
            .layer
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
            .layer
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
                .square
                    .corner
                    .corner
                    .corner
                    .corner
              div
              br
              .containerTwo
                  form(action"", method="post")
                      value(type="text", name="id", value=user.id)
                      br
                      input.btn.btn.lg.btn.default#begin(type="submit", value="begin")
