MONGO_DB_PASS=

ACCOUNT_SID=
AUTH_TOKEN=

AUTH0_DOMAIN=twilightlabs.auth0.com
AUTH0_CLIENT_ID=T8lJTSXppNTPaVpxK9mE8VJbln4OuJxd
AUTH0_CLIENT_SECRET=SkIRtXtFeoBSR4H022F5Zepb-wFCCOyLiaZRuD5vFXrL6RwywHbrjKb5OEEqrBje
AUTH0_CALLBACK_URL=http://localhost:8080/callback

SESSION_SECRET=sfdsdf sdfsdieiehej234@#$%@ @$#@34
