extends ../layout

block content
  div.easy
    br
    h1 application completed
    br
    form(method="post")
      input(hidden, type="text",  name="status", value="under review")
      button.btn.btn-default#adminbutton(type="submit") Submit Application
      br 
 
