extends ../layout

block content
  div
    br
    br
    br
    h3 #{statement}
     br
     br
     br
     form(method="post")
       input.input.group(type="text", class="form-control", name="response", value="#{response}")
       br
       br
       input.btn.btn-default#profilebutton(type="submit")
