extends ../layout

block content
    h1 #{question.number} number.jade
    br
    form(method="post")
        value(type="text", name="id", value=user.id)
        br
        p #{question.statement}  
        input(type="text", name="response")
        br
        br.
        input(type="submit")
