extends ../layout

block content  
  div 
    br
    form(method="post")
        value(type="text", name="id", value=user.id)
        br
        h1 #{question.statement}
        br
        br
        .form-group
          textarea#comment.form-control(rows='5', name="response") 
        br
        br
        input.btn.btn-default#profilebutton(type="submit")
