extends ../layout

block content
    h1 submit.jade
    h3 username #{user.nickname}
    h4 application complete
    each response in questionaire.question
      ul
      p #{response.statement}
        p #{response.response}
        a(href='/questionaire/edit/#{response.number}')
          button edit
