extends layout

block content
  h1 Checked In
  h3 Contact Settings
  br
  br
  a(href='/contacts') Show My Contacts
  br
  br
  a(href='/contacts/add_new_contact') Create New Contact
  br
  br
  br
  a(href='/user') Home
  br
  a(href='/alertsettings') Alert Settings
  br
  a(href='/logout') Logout
