extends layout
block content
  iframe#myFrame(src='/home')
  p#demo
  script.
    document.getElementById("myFrame").addEventListener("load", myFunction);
    function myFunction() {
    document.getElementById("demo").innerHTML = "Contact has been notified";
    }
    h2 Home
  br
  br  
  a(href='/alertsettings') Alert Settings
  br
  a(href='/settings') Contact Settings
  br
  a(href='/logout') Logout
