a {
  color: black;
}

a:hover {
  color: black;
  text-shadow: 0 .05rem .5rem rgba(0,0,0,.3);
}

html,
body {
  height: 100%;
  background-color: #FFF;
  position: relative;
  width: 100%;
  font-family: 'Jura';
  text-align: center;
}

body {
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  margin-bottom: 60px;
  width: 100%;
}

#apply:hover{
  width: 100%;
  color: black;
  text-shadow: 0 .05rem .5rem rgba(0,0,0,.3);
  background-color: transparent;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: 10%;
  margin-left: auto;
}

.inner {
  text-align: left;
  padding: 2rem;
  margin-left: 25%;
  margin-right: 5%;
}

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  background-color: transparent;
  border-bottom: .25rem transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.75);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  border-bottom-color: #000;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: transparent;;
  font-size: 18px;
  margin-bottom: 13px;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

@media (min-width: 40em) {
  .masthead {
    position: fixed;
    top: 0;
  }

  .site-wrapper-inner {
    vertical-align: middle;
  }

  .masthead,
  .cover-container {
    width: 100%;
  }
}

@media (min-width: 62em) {
  .masthead,
  .cover-container {
    width: 42rem;
  }
}
