body{
  font-family: 'Jura', font: 14px;
  text-align: center;
  font-family: 'Jura';
  font-weight: 100;
  background-color: black;
  padding: 2%;
  color: #FFF;
}

#edit{
  color: 000;
}

#red{
  color: red;
}

#one{
  height: 200px;
  width: 105%;
  text-align: center;
  padding: 15%;
  font-size: 44px;
  border-bottom: 3px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: #FFF;
  border-style: solid;
}

#applicantreview{
  border-bottom: 3px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: #FFF;
  border-style: solid;
  height: 33px;
}

#application{
  padding: 3%;
  margin-top: 25px;
  color: white;
}

#profile{
  text-align: center;
  width: 80%;
  position: sticky;
  background-color: black;
}

#profilebutton{
  width: 66.6%;
}

.panel-body{
    color:  black;
}

#begin{
  color:  blue;
}

#questionaire{
  color: white;
}

#huh{
  height: 100%;
  width: 100%;
  margin-right: 43%;
  margin-left: 43%;
}

#adminreviewbutton{
  width: 100%;
}

#rateform{
  text-align: right;
}

#belownav{
  height: 25px;
  width: 100%;
}

#adminreview{
  text-align: left;
  position: fixed;
  margin-right: 15%;
  padding-bottom: 5%;
}

#adminreviewquestionaire{
  margin-left: 25%;
  text-align: left;
}

#adminbutton{
  width: 50%;
}

#application{
  padding: 3%;
  color: white;
}

#submit{
  width: 100%;
  color: #000;
}


#status{
  padding: 13%;
}

#words{
  background:#141414;
  overflow:hidden;
}

#reviewmain{
  padding: 5%;
}

#review{
  width: 25%;
}

#bottom{
  height: 5%;
}

.well{
  width: 20%;
  text-align: left;
}

.navbar{
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: transparent;
  z-index: 9999;
  border: 0;
  font-size: 18px;
  line-height: 1.42857143;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: 'Jura', sans-serif;
  padding-right: 3%;
  padding-left: 3%;
  height: 18px;
  color: #FFF;
}

.navbar li a, .navbar .navbar-brand {
  color: #FFF;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #FFF;
  background-color: transparent;;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: transparent;;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}
.slideanim{
  visibility:hidden;
}

.slide{
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

.slow{
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 10s;
  -webkit-animation-duration: 7s;
  visibility: visible;
}
.easy{
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 10s;
  -webkit-animation-duration: 7s;
  visibility: visible;
}

.slide#edit{
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 3s;
  -webkit-animation-duration: 4s;
  visibility: visible;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: transparent;
  font-size: 18px;
}

@keyframes slide{
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide{
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px){
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
      width: 100%;
      margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px){
  .logo {
      font-size: 150px;
  }
  .navbar-right li a{
    font-size: 8px;
  }
}
