extends ../layout

block content
    h1 application index.jade
    h3 username #{user.nickname}
    br
    iframe(width='560', height='615', src='http://localhost:8080/questionaire', frameborder='1')
