extends ../layout

block content
  head
    nav.navbar.navbar-fixed-top
      .container
      .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/admin') (boot)(up)
        #myNavbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/home') HOME
        li
          a(href='/profile') PROFILE  
        li
          a(href='/application') APPLICATION
        li
          a(href='/application/status') STATUS  
        li
          a(href='/logout') LOGOUT
    div#status
      br
      br
      br
      h1.slide application status
      br
      h3.easy#red #{profile.application.status}
