extends ../layout

block content
  h1 submit_application.jade
  h3 Username #{user.nickname}
  br
  form(action"", method="post")
  
    p application.questions:
      br
      p application.question.statement 
      input(type="text", name"response")
      br 
      p application.question.response
      input(type="text", name"responseIf")
      br
