extends ../layout

block content
  h1 submit_application.jade
  h3 Username #{user.nickname}
  br
  form(action"", method="post")  
    p application.questions:
    br
    br
    br
    p application.question.statement
    p  
    input(type="text", placeholder="application.question.response", name="response")
    br
    br 
    p application.question.statement 
    p 
    input(type="text", placeholder="application.question.responseIf", name="responseIf")
    br
    br
    p application.question.statement 
    p 
    input(type="text", placeholder="application.question.responseIf", name="responseIf")
    br
    br
    p application.question.statement 
    p 
    input(type="text", placeholder="application.question.responseIf", name="responseIf")
    br
    br
    p application.question.statement 
    p 
    input(type="text", placeholder="application.question.responseIf", name="responseIf")
    br
    br
    input(type="submit")
