extends ../layout

block content
  h1 submit_application.jade
  h3 username #{user.nickname}
  br
  iframe(width='560', height='315', src='http://localhost:8080/questions', frameborder='0', allowfullscreen='')
