extends ../layout

block content
  h1 #{question.number} number.jade
  br
  form(action"", method="post")
    br
    p #{question.statement}
    input(type="text", name="questions[response]")
    br
    br
    input(type="submit")
  br
  a(href='/questions/#{question.number + 1}') questions.number = #{question.number + 1}
